/* Reset default margin and padding for HTML and body */
html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  color: white;
}

/* Set up a flex container for the entire page */
#root {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  background-image: url(https://images.unsplash.com/32/Mc8kW4x9Q3aRR3RkP5Im_IMG_4417.jpg?q=80&w=1000&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8bWVudSUyMGJhY2tncm91bmR8ZW58MHx8MHx8fDA%3D);
  background-repeat: no-repeat;
  background-size: cover;
  justify-content: center; /* Center children horizontally */
  align-items: center; /* Center children vertically */
}

/* Flex item to fill remaining space */
#page-content {
  flex-grow: 1;
}

/* Container for the app content */
.app-container {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  color: white;
}

.card-right {
  background: linear-gradient(to bottom right, #b129ffe4, #13bb86f9);
  border: 1px solid black;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
}

/* Menu item styles */
.menu-item {
  background: linear-gradient(90deg, #a5a5a5e4, #4e4f4ff9);
  border: 1px solid black;
  border-radius: 5px;
  cursor: pointer;
  -webkit-box-shadow: 0px 0px 15px 5px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 15px 5px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 15px 5px rgba(0, 0, 0, 0.75);
  padding: 20px;
}

.menu-item:hover {
  background: linear-gradient(90deg, #009ebae6, #06ba00df);
  -webkit-box-shadow: 0px 0px 15px 5px rgba(0, 255, 136, 0.75);
  -moz-box-shadow: 0px 0px 15px 5px rgba(0, 255, 136, 0.75);
  box-shadow: 0px 0px 15px 5px rgba(0, 255, 136, 0.75);
}

.menu-item img {
  height: 40px;
  width: 40px;
}

/* Ensure menu items take full width */
.menu-items {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(275px, 1fr)); /* Adjusted for small screens */
  align-items: center;
  gap: 1rem;
}

/* Style for menu item title and details */
.menu-items h3, .menu-items p {
  font-size: 1.2rem;
  margin-top: 0;
}

/* Button styles */
button {
  background-image: linear-gradient(90deg, rgb(210, 210, 210), rgb(107, 107, 107), rgb(47, 47, 47));
  -webkit-box-shadow: 0px 0px 15px 5px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 15px 5px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 15px 5px rgba(0, 0, 0, 0.75);
  border: 1px solid #8b8b8b;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
}

button:hover {
  background-image: linear-gradient(90deg, #009ebae6, #06ba00df);
  -webkit-box-shadow: 0px 0px 15px 5px rgba(0, 255, 136, 0.75);
  -moz-box-shadow: 0px 0px 15px 5px rgba(0, 255, 136, 0.75);
  box-shadow: 0px 0px 15px 5px rgba(0, 255, 136, 0.75);
  border: 1px solid #06ba00df;
}

a {
  text-decoration: none;
  color: rgb(255, 255, 255);
}

/* Card styles */
.center-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.card {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%; /* Adjusted for small screens */
  max-width: 400px; /* Adjusted for small screens */
  padding: 20px;
  border: 1px solid #000000;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: rgba(0, 0, 0, 0.55);
}

.card button {
  margin-top: 10px;
}

.card ul {
  list-style-type: none;
  padding: 0;
}

.card li {
  margin-bottom: 5px;
}

/* About card styles */
.about-card {
  background-color: rgba(0, 0, 0, 0.55);
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
}

.about-card h1 {
  color: #333333;
}

.about-card p {
  color: #ffffff; 
  margin-bottom: 10px; 
  text-decoration: underline;
  cursor: pointer;
}

/* Media queries for responsiveness */
@media screen and (max-width: 600px) {
  .menu-items {
    grid-template-columns: 1fr;
  }
  
  .card {
    width: 90%;
    max-width: 300px; /* Adjusted for smaller screens */
  }
}

/* Adjust image position for small screens */
@media screen and (max-width: 768px) {
  .menu-item img {
    top: 8px; /* Adjust this value to move the image down */
    left: 250px; /* Adjust this value to move the image to the right */
  }
}

/* Adjust image position for larger screens */
@media screen and (min-width: 769px) {
  .menu-item img {
    top: 12px; /* Adjust this value to move the image down */
    right: 12px; /* Adjust this value to move the image to the right */
  }
}
